body {
  background-color: hsla(215, 26%, 61%, 1);
  font-family: sans-serif;
  color: hsla(0, 4%, 18%, 0.9);
}

.grid {
  display: grid;
  height: 90vh;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 3em 1em;
  margin: 2em;
}

.box {
  background-color: hsla(35, 85%, 85%, 1);
  padding: 1em;
  border-radius: .25em;
}

.shadow {
  box-shadow: 0 3px 3px -6px hsla(0, 0%, 0%, 0.5), 0 9px 9px -6px hsla(0, 0%, 0%, 0.4), 0 15px 15px -6px hsla(0, 0%, 0%, 0.3), 0 15px 15px -6px hsla(35, 85%, 85%, .3);
}
